---
import type { ButtonAction } from "../config/landing.interface"

interface Props {
	data: ButtonAction
}

const { data } = Astro.props
---

<div class="mx-auto py-3">
	<div class="hidden sm:mb-8 sm:flex">
		<div
			class="relative rounded-full px-3 py-1 text-sm leading-6 text-gray-600 ring-1 ring-gray-900/10 hover:ring-gray-900/20"
		>
			<a href={data} class="font-semibold text-indigo-600"
				><span class="absolute inset-0" aria-hidden="true"></span>Leer Más <span aria-hidden="true"
					>&rarr;</span
				></a
			>
		</div>
	</div>
</div>
