---
import InstagramIcon from "@/icons/instagram.astro"
import XIcon from "@/icons/x.astro"
---

<nav class:list={`${Astro.props.class}`}>
	<ul
		class="flex flex-row items-center gap-x-6"
		aria-label="redes sociales y botón para alternar tema"
	>
		<li>
			<a
				target="_blank"
				rel="noopener"
				aria-label="Instagram de La Iglesia Sion, se abrirá en una nueva pestaña"
				href="https://www.instagram.com/iglesiasioncoro/"
				class="any-hover:scale-125 any-hover:opacity-70 motion-reduce:any-hover:scale-100 inline-block motion-safe:transition"
			>
				<InstagramIcon
					class="hover:text-accent text-primary transition-colors duration-300 motion-reduce:duration-0"
				/>
			</a>
		</li>
		<li>
			<a
				target="_blank"
				rel="noopener"
				aria-label="Iglesia Sion, se abrirá en una nueva pestaña"
				href="https://"
				class="any-hover:scale-125 any-hover:opacity-70 motion-reduce:any-hover:scale-100 inline-block motion-safe:transition"
			>
				<XIcon
					class="hover:text-accent text-primary transition-colors duration-300 motion-reduce:duration-0"
				/>
			</a>
		</li>
	</ul>
</nav>
