---
import Action from "../components/ActionLanding.astro"

interface Props {
	data: {
		title: string
		subtitle: string
		image: string
	}
}

// const { data } = Astro.props
---

<section id="adventajes-section" class="my-24 flex flex-col gap-y-8">
	<div class="relative isolate overflow-hidden bg-gray-900 py-24 sm:py-32">
		<img
			src="/img/event-image.png"
			alt=""
			class="absolute inset-0 -z-10 h-full w-full rounded-lg object-cover object-right"
		/>
		<div
			class="hidden sm:absolute sm:-top-10 sm:right-1/2 sm:-z-10 sm:mr-10 sm:block sm:transform-gpu sm:blur-3xl"
			aria-hidden="true"
		>
			<div
				class="aspect-[1097/845] w-[68.5625rem] bg-gradient-to-tr from-[#ff4694] to-[#776fff] opacity-40"
				style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"
			>
			</div>
		</div>
		<div
			class="absolute -top-52 left-1/2 -z-10 -translate-x-1/2 transform-gpu blur-3xl sm:top-[-28rem] sm:ml-16 sm:translate-x-0 sm:transform-gpu"
			aria-hidden="true"
		>
			<div
				class="aspect-[1097/845] w-[68.5625rem] bg-gradient-to-tr from-[#ff4694] to-[#776fff] opacity-20"
				style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"
			>
			</div>
		</div>
		<div class="mx-auto">
			<div class="max-w-2xl lg:mx-0 px-0 text-center lg:text-left">
				<h2 class="text-4xl font-bold text-white">Pentecostes <br/>
					La Fiesta Del Espiritu.
				</h2>
				<p class="mt-6 text-lg leading-8 text-gray-300"></p>
			</div>
			<div class="mx-auto mt-10 max-w-2xl px-4 lg:px-0 lg:mx-0 lg:max-w-none">
				<dl class="mt-16 grid grid-cols-1 gap-8 sm:mt-20 sm:grid-cols-2 lg:grid-cols-4">
					<div class="flex flex-col">
						<dt class="text-base leading-7 text-primary">Fecha</dt>
						<dd class="text-2xl font-bold leading-9 tracking-tight text-white">30 De Noviembre</dd>
					</div>
					<div class="flex flex-col">
						<dt class="text-base leading-7 text-primary">Hora</dt>
						<dd class="text-2xl font-bold leading-9 tracking-tight text-white">Desde las 6 PM</dd>
					</div>
					<div class="flex flex-col">
						<dt class="text-base leading-7 text-primary">Lugar</dt>
						<dd class="text-2xl font-bold leading-9 tracking-tight text-white">
							Estadio Jose David Ugarte
						</dd>
					</div>
					<div class="flex flex-col">
						<dt class="text-base leading-7 text-primary">Entrada</dt>
						<dd class="text-2xl font-bold leading-9 tracking-tight text-white">Paso Libre</dd>
					</div>
				</dl>
			</div>
		</div>
	</div>

	<div class="relative">
		<div class="absolute inset-0 flex items-center" aria-hidden="true">
			<div class="w-full border-t border-gray-300"></div>
		</div>
		<div class="relative flex justify-center">
			<button
				type="button"
				class="inline-flex items-center gap-x-1.5 rounded-full bg-white px-3 py-1.5 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50"
			>
				<svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 48 48"
					><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-width="4"
						><path stroke-linejoin="round" d="M44 8H4v30h15l5 5l5-5h15z"></path><path
							d="M12 19v8m8-11v14m8-9v4m8-6v8"></path></g
					></svg
				>
				<Action href="/pentecostes" as="a"> Ver Pentecostes </Action>
			</button>
		</div>
	</div>
</section>
