---
import Action from "@/components/ActionLanding.astro"

interface Props {
	data: {
		title: string
		subTitle: string
		primaryCta: string
		secondaryCta: string
		highlightedTitle?: string
	}
}

const { data } = Astro.props
---

<section
	id="hero-section"
	class="my-28 flex h-screen justify-center bg-cover"
	style={"background-image: url('./src/assets/carousel/image-02.jpg')"}
>
	<div class="md:w-1/2">
		<h1 class="mt-10 text-center text-4xl font-semibold md:text-6xl">
			{data.title}
		</h1>
		<h2 class="mt-10 text-center text-lg opacity-80 md:text-2xl">
			{data.highlightedTitle}
		</h2>
		<div class="flex justify-center">
			<Action
				as="a"
				class="mt-32 flex h-14 w-14 animate-bounce items-center justify-center rounded-full border-2 border-transparent bg-primary text-white transition hover:border-primary hover:bg-white hover:text-primary"
				href="#services-section"
				title="arrow down icon"
			>
				<svg
					xmlns="http://www.w3.org/2000/svg"
					fill="none"
					viewBox="0 0 24 24"
					stroke-width="1.5"
					stroke="currentColor"
					class="h-8 w-8"
				>
					<path
						stroke-linecap="round"
						stroke-linejoin="round"
						d="M19.5 13.5 12 21m0 0-7.5-7.5M12 21V3"></path>
				</svg>
			</Action>
		</div>
	</div>
</section>

<style>
	@keyframes fadeIn {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}

	#hero-section {
		opacity: 0;
		animation: fadeIn 0.8s ease-in-out forwards;
		background-size: cover;
		background-position: center;
	}
</style>
