---
import DrawnXLogo from "../components/DrawnXLogo.astro"
import LiteYouTube from "@/components/LiteYouTube.astro"
import Typography from "@/components/Typography.astro"
---

<section class="mt-10 overflow-hidden px-2 pb-48 pt-16 sm:pb-56 sm:pt-20 md:pb-48 md:pt-40">
	<Typography as="h1" variant="h1" color="white" class:list={"text-center text-6xl font-bold"}>
		Presentación
	</Typography>

	<div class="relative mt-8">
		<DrawnXLogo
			class:list={"absolute inset-0 -z-10 m-auto w-full scale-150 select-none drop-shadow-[0_0_40px_rgba(213,255,0,1)]"}
			style:list={"background: linear-gradient(180deg, transparent 0%, transparent 21%, 20%, rgba(17, 17, 17, 0) 90%)"}
		/>
		<LiteYouTube videoId="wQkuhl8jODU" backgroundImage="assets/carousel/image-08.jpg" />
	</div>
</section>
